# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask related
instance/
*.db
*.sqlite3

# PyInstaller
# Usually these files are written by a Python script from a compiled binary
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm specific files
.idea/

# Jupyter Notebook specific
.ipynb_checkpoints/

# VSCode specific
.vscode/

# Environment variables
.env
.env.*

# MacOS specific
.DS_Store

# Logs and database backups
*.log
*.bak
*.tmp
